.Parentbox {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
}


.Parentbox {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
}

.Foto {
  float: left;
  width: 50%;
  height: 500px;
}

.Foto img {
  width: 700px;
}

.Deskripsi {
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}

.Deskripsi .Info {
  line-height: 1.8;
  color: rgb(18, 11, 49);
}

.Deskripsi .Price {
  font-size: 20px;
  font-weight: 500;
}

.Deskripsi .Title {
  margin: 0;
}

.Deskripsi .Cate {
  font-size: 35px;
  color: #0d6efd;
}

.Deskripsi .Ukuran .S {
  width: 70px;
  height: 50px;
}

.Deskripsi .Beli .BuyNow {
  width: 70px;
  height: 50px;
  color: #dc3545;
}